@media screen and (min-width: 600px) { /* Celular */
    main {
        width: 560px;
    }
    
    header li {
        display: inline-block;
    }

    header span#menu-logo {
        display: none;
    }

    header menu {
        display: block;
    }
}

@media screen and (min-width: 769px) { /* Tablet */
    main {
        width: 600px;
    }
}

@media screen and (min-width: 993px){ /* Desktops */
    main {
        width: 700px;
    }
}

@media screen and (min-width: 1200px) { /* Telas grandes */

}
