@media screen and (min-width: 600px) and (max-width: 768px) { /* Celular */
    main {
        width: 560px;
        margin: auto;
        margin-top: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) { /* Tablet */
    main {
        width: 600px;
        margin: auto;
        margin-top: 10px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) { /* Desktops */
    main {
        width: 600px;
        margin: auto;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) { /* Telas grandes */
    main {
        width: 600px;
        margin: auto;
        margin-top: 10px;
    }
}
